.form
  &__string
    background-color: rgba(255, 255, 255, 0.75)
    border-radius: 4px
    border: 1px solid #BBBBBB
    padding: 8px 10px
    font-size: 16px

    &--error
      border: 1px solid #9b4a4a

  &__group
    display: flex
    flex-direction: column

    &:not(:first-child)
      margin-top: 20px

  &__label
    margin-bottom: 10px
    font-size: 14px

  &__submit
    padding: 10px 40px
    font-size: 15px
    letter-spacing: 2px
    font-family: 'Poppins', sans-serif
    background-color: $accent-blue
    color: #ffffff
    border: none
    cursor: pointer
    border-radius: 4px
    text-transform: uppercase

  &__errors
    display: flex
    flex-direction: column

  &__error
    font-size: 12px
    color: #9b4a4a
    margin: 4px 0 0
    padding: 0