.header
  width: 100%
  height: $header-height
  align-items: center

  &__logo
    font-size: 36px
    color: #333333
    font-family: 'Poppins', sans-serif
    text-decoration: none

  &__mnu
    display: flex
    justify-content: flex-end
    align-items: stretch
    height: 100%
